In [2]:
#wczytanie potrzebnych bibliotek
import numpy as np
import pandas as pd

import os
import matplotlib.pyplot as plt
%matplotlib inline #potrzebne zebysmy obrazki widzieli w notatniku

In [3]:
HOUSING = os.path.join("zestaw danych","mieszkania") #Å‚aczy katalogi w sciezke -- odpowiednie sleshe w zaleznosci od systemu
def load_housing_data(housing_path = HOUSING ):   #funkcja wczytuje dane
    csv_path = os.path.join(housing_path,"housing.csv")
    return pd.read_csv(csv_path)

In [4]:
df = load_housing_data() #zapisanie danych do zmiennej df

In [5]:
df.head() # wyswietlenie 5 pierwszych wierszy

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
#tworzenie zbioru testowego i treningowego
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split( df , test_size=0.3 , random_state=432 )
# /\ tuple   /\                       ramka, proporcje 30%, opcjionalnie jak ma losowac - zebysmy wszyscy mieli takie same wyniki

In [8]:
train_set.tail() # wyswietla 5 ostatnich rekordÃ³w

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12229,-116.95,33.75,19.0,2238.0,573.0,1190.0,507.0,2.0714,85800.0,INLAND
2533,-122.04,39.72,23.0,2502.0,481.0,1443.0,455.0,2.5625,70000.0,INLAND
13476,-117.39,34.09,10.0,5736.0,945.0,3528.0,932.0,4.3958,130700.0,INLAND
640,-122.15,37.72,29.0,4169.0,1047.0,2024.0,962.0,2.8125,157400.0,NEAR BAY
19590,-120.85,37.57,27.0,819.0,157.0,451.0,150.0,3.4934,193800.0,INLAND

In [9]:
train_set.shape , test_set.shape # wyswietl ksztalt = rozmiar ramek

((14448, 10), (6192, 10))

In [10]:
#Problem ocean_proximity jest string, potrzebujemy numeryczne

In [12]:
df.info() #zauwaÅ¼my ze total_bedrooms ma 20433 rekordÃ³w , czyli mniej niz inne kolumny

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [14]:
#usuwa braki danych . 
#domyslnie z wierszy (axis=0),
#how='any' usuwa wiersz jesli brakuje jakiejkolwiek z danych ,
#how='all' usuwa wiersz dopiero jesli brakuje wszytskich danych 
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20433 non-null float64
latitude              20433 non-null float64
housing_median_age    20433 non-null float64
total_rooms           20433 non-null float64
total_bedrooms        20433 non-null float64
population            20433 non-null float64
households            20433 non-null float64
median_income         20433 non-null float64
median_house_value    20433 non-null float64
ocean_proximity       20433 non-null object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [16]:
df.drop("total_bedrooms" , axis=1).info() #gdybysmy chcieli usunac cala kolumne (ale nie chcemy xD)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 9 columns):
longitude             20433 non-null float64
latitude              20433 non-null float64
housing_median_age    20433 non-null float64
total_rooms           20433 non-null float64
population            20433 non-null float64
households            20433 non-null float64
median_income         20433 non-null float64
median_house_value    20433 non-null float64
ocean_proximity       20433 non-null object
dtypes: float64(8), object(1)
memory usage: 1.6+ MB

In [17]:
median = df['total_bedrooms'].median() #wylicza mediane po kolumnie total_bedrooms
df = df['total_bedrooms'].fillna(median)#uzupelnia braki w total_bedrooms medianÄ…

In [20]:
#dokonalismy sporo zmian czysto pokazowych
#przywrocmy stan pierwotny
df = load_housing_data() #zapisanie danych do zmiennej df
train_set, test_set = train_test_split( df , test_size=0.3 , random_state=432 )

In [22]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy="median") #zdepresionowane

from sklearn.impute import SimpleImputer

C:\Users\DZACO\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [23]:
housing = train_set.drop('median_house_value' , axis=1) #usuwamy mediane poniewaz naszym celem jest jej obliczyc
housing_label = train_set['median_house_value'].copy()

In [25]:
housing_num = housing.drop('ocean_proximity' , axis=1) #housing_num przechowuje ramke tylko ze zmiennymi numerycznymi

In [26]:
housing_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14448 entries, 17298 to 19590
Data columns (total 8 columns):
longitude             14448 non-null float64
latitude              14448 non-null float64
housing_median_age    14448 non-null float64
total_rooms           14448 non-null float64
total_bedrooms        14296 non-null float64
population            14448 non-null float64
households            14448 non-null float64
median_income         14448 non-null float64
dtypes: float64(8)
memory usage: 1015.9 KB

In [27]:
imputer.fit(housing_num)#znajduje braki
X = imputer.transform(housing_num) #uzupelnia braki mediana i zwraca array

In [68]:
housing_num_tr = pd.DataFrame(X,columns=housing_num.columns)

In [69]:
housing_num_tr.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-119.51,34.40,24.0,3422.0,596.0,1763.0,601.0,5.2039
1,-118.25,33.89,36.0,1527.0,309.0,1154.0,279.0,3.3095
2,-117.13,32.80,33.0,2731.0,456.0,1263.0,445.0,4.5568
3,-122.47,37.74,52.0,1538.0,305.0,819.0,319.0,4.0846
4,-117.20,33.71,24.0,4210.0,920.0,1283.0,829.0,2.0881

In [70]:
housing_cat = housing['ocean_proximity'].copy() #kopiujemy kolumne kategoryjnÄ…
housing_cat.head()

17298    NEAR OCEAN
7606      <1H OCEAN
14662    NEAR OCEAN
16000      NEAR BAY
12148     <1H OCEAN
Name: ocean_proximity, dtype: object

In [71]:
#chcemy zamienic napisy na liczby
#przyda sie nowa biblioteka
#uwaga enkodowanie nalezaloby zrobic przed podzialem na zbiory treningowe i testowe
#ze wzgledu na malo prawdopodobny przypadek ze w jednym zbiorze jest wartosc ktorej nie ma w drugim zbiorze

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [72]:
housing_cat_encoded = encoder.fit_transform(housing_cat)

In [73]:
housing_cat_encoded

array([4, 0, 4, ..., 1, 3, 1])

In [74]:
encoder.classes_

array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
      dtype=object)

In [75]:
from sklearn.preprocessing import OneHotEncoder
encoder2 = OneHotEncoder()

In [76]:
#numerujemy kategorie 0 lub 1 w zaleznosci czy bylo czy nie 
#uzywamy .reshape() poniewaz jest to tablica 1D a metoda oczekiwala 2D
housing_cat_1hot = encoder2.fit_transform(housing_cat_encoded.reshape(-1,1) )

C:\Users\DZACO\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [77]:
h=housing_cat_1hot.toarray()

In [79]:
pd.DataFrame(h , columns=encoder.classes_).head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0        0.0     0.0     0.0       0.0         1.0
1        1.0     0.0     0.0       0.0         0.0
2        0.0     0.0     0.0       0.0         1.0
3        0.0     0.0     0.0       1.0         0.0
4        1.0     0.0     0.0       0.0         0.0

In [83]:
#mozna te 2 etapy na raz
from sklearn.preprocessing import LabelBinarizer
encoder = LabelBinarizer()
housing_cat_bin = encoder.fit_transform(housing_cat)
housing_cat_bin

array([[0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       ...,
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0]])

In [97]:
from sklearn.base import BaseEstimator , TransformerMixin
rooms_ix, bedrooms_ix, population_ix, household_ix = 3,4,5,6

class CombinedAttributesAdder(BaseEstimator , TransformerMixin):
    def __init__(self , add_bedrooms_per_room = True):
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self , X , y=None):
        return self
    def transform(self , X, y=None):
        Pokoje_na_rodzine = X[:,rooms_ix] / X[:,household_ix]
        Populacja_na_rodzine = X[:,population_ix] / X[:, household_ix]
        
        if self.add_bedrooms_per_room:
            Sypialnie_na_pokoje = X[:,bedrooms_ix] / X[:,rooms_ix]
            return np.c_[X , Pokoje_na_rodzine , Populacja_na_rodzine , Sypialnie_na_pokoje]
        else:
            return np.c_[X , Pokoje_na_rodzine , Populacja_na_rodzine ]

In [98]:
attr_adder = CombinedAttributesAdder(add_bedrooms_per_room=False)
housing_extra_attribs = attr_adder.transform(housing.values)

In [103]:
pd.DataFrame(housing_extra_attribs , columns = housing.columns()).head()

TypeError: 'Index' object is not callable

In [105]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([                  #potok - zby wykonac kilka rzeczy jednoczesnie
    ('imputer',Imputer(strategy="median") ), # uzupelnia braki medianÄ…
    ('add' , CombinedAttributesAdder() ),   #dodaje nowe atrybuty/kolumny
    ('std' , StandardScaler() )             #tak dlugo transformuje dane az srednia = 0 i odchylenie standardowe = 1 
                                            # czyli rozklad normalny
])

C:\Users\DZACO\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [106]:
housing_num_tr_pip = num_pipeline.fit_transform(housing_num)

In [107]:
housing_num_tr_pip # przeprowadzilismy wszytskie transformacje na raz, przydatne gdybysmy chcieli zaraz cos zmienic

array([[ 0.03218432, -0.58056351, -0.37285188, ...,  0.08821157,
        -0.01482908, -0.60709925],
       [ 0.6620747 , -0.820074  ,  0.58022759, ...,  0.00741297,
         0.08232223, -0.17407938],
       [ 1.22197726, -1.33196898,  0.34195772, ...,  0.25046198,
        -0.02252215, -0.71762367],
       ...,
       [ 1.09199988, -0.72614832, -1.48477793, ...,  0.25684159,
         0.05398732, -0.75176786],
       [-1.287586  ,  0.97860285,  0.02426456, ..., -0.4096893 ,
        -0.08183055,  0.57523528],
       [-0.6376991 ,  0.90815858, -0.13458202, ...,  0.0026109 ,
        -0.00891462, -0.33782843]])